logs
project/project
project/target
.DS_Store
/tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/projectFilesBackup*
target/*
!target/universal
target/universal/*
!target/universal/msviz-backend-1.0-SNAPSHOT.zip

